@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here

//Color Palette
$navbar-text-color: #ec8f00;
$main-text-color: #292929;
$navbar-background-color: #420e07;
$main-background-color: #002907;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

h1,
h2,
p,
button,
h3,
li,
ul,
h4,
h5,
h6 {
  font-family: "Special Elite";
}

body {
  background-color: transparent;
}

body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("https://images.unsplash.com/photo-1637185612724-294227baaa49?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  opacity: 0.5;
}

.home-box {
  border: 5px solid #420e07;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  background-color: #517174;
  border-radius: 10px;
  margin-top: 3em;
  text-align: center;
}

.book-tile {
  background-color: #742419;
  color: #ec8f00;
  font-weight: bold;
  width: calc(33.33% - 20px);
  margin: 15px; 
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: center;
}

.personal-tile {
  margin-left: auto;
  margin-right: auto;
  background-color: #742419;
  color:#ec8f00;
  font-weight: bold;
  position: relative;
}

.top-bar {
  border-bottom: 5px solid #420e07;
}

a {
  color: #742419;
}

.top-bar-books {
  width: 100%;
}

.navbar-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.navbar-list li {
  margin-right: 10px;
}

.navbar-image{
  width: 15%;
}

.home,
.book-shelf {
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Special Elite"
}

.home {
  margin-left: 1em;
}

.tile-image {
  margin-bottom: 1rem;
}

.tile-thumbnail {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5rem
}

h2 {
  color:#ec8f00;
}

.show-image {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.show-text {
  font-weight: 900;
}

.trending-list {
  list-style-type: none;
}

.trending-tile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #742419;
  color: #ec8f00;
  font-weight: bold;
}

.trending-image-container {
  width: 20%;
  display: flex;
  justify-content: center;
  margin-left: 1em;
}

.trending-image {
  width: 100%;
  height: auto;
}

.trending-details {
  flex-grow: 1;
  margin-left: 2em;
  text-align: center;
  width: 60%;
}

.trending-link {
  color: #517174;
  font-size: 1rem;
}

.modal-box {
  width: 50em;
  height: 24em;
  margin: auto;
  margin-top: 20%;
  background-color: #DCBE87;
  border: 5px solid #4E1D04;
  border-radius: 1em;
}

.search-bar {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1em;
  text-align: center;
}

.search-criteria {
  color: #4E1D04;
  text-align: center;
  margin-top: 1em;
  height: 40%
}

.search-info {
  font-weight: 900;
}

.search-button {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: #4E1D04;
  color: #DCBE87;
  border: 2px solid #4E1D04;
  border-radius: .2em;
}

.close {
  width: 7%;
  height: 7%;
  margin-top: .5em;
}

.trash-icon {
  width: 7%;
  height: 7%;
}

.trash-icon:hover {
  cursor: pointer;
  color: #517174;
}

.remove-book {
  display: flex;
  justify-content: flex-end;
  bottom: .5em;
  position: absolute;
  right: .5em;
  margin-left: 0;
}

.add-book-button {
  color:#420e07;
  font-size: 1.2em;
  border-radius: 1em;
  background-color: #DCBE87;
  font-weight: 900;
  height: 2.5em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  width: 9em;
  border: 2px solid #4E1D04;
  font-family: "Special Elite";
}

.add-book-button:hover {
  cursor: pointer;
  background-color:#ec8f00;
}

.review-form {
  background-color: #898055;
  border: 5px solid #4E1D04;
  color: #420e07;
  border-radius: 1em;
  height: 100%;
  margin-top: 15%;
}

.review-tile {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #742419;
  color: #ec8f00;
  border: 5px solid #002907;
  border-radius: 1em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.review-list {
  background-color:#898055;
  color: #420e07;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 70%;
  border: 5px solid #420e07;
  border-radius: 1em;
}

.book-icon {
  color: #742419;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.page-title {
  font-family: "Special Elite";
  font-weight: 900;
  font-size: 3em;
  margin-top: .3em;
}

.review-icons {
  display: flex;
  justify-content: flex-end;
}

.review-trash-icon {
  width: 4%;
  height: 4%;
  margin-bottom: .8em;
}

.review-trash-icon:hover {
  cursor: pointer;
  color: #517174;
}

.review-edit-icon {
  width: 4%;
  height: 4%;
  margin-bottom: .8em;
  margin-right: .7em;
  margin-left: .7em;
}

.review-edit-icon:hover {
  cursor: pointer;
  color: #517174;
}

.edit-form {
  background-color: #DCBE87;
  border: 5px solid #4E1D04;
  border-radius: 1em;
  height: 100%;
  margin-top: 10%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: flex;
}

.input-field {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.edit-submit {
  background-color: #4E1D04;
  color: #DCBE87;
  border: 2px solid #4E1D04;
  border-radius: .2em;
}

.edit-form-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}

.show-box {
  border: 5px solid #420e07;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  background-color: #bfbdb0;
  border-radius: 10px;
  margin-top: 3em;
  text-align: center;
}

.trivia-block {
  border: 5px solid #420e07;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  background-color: #bfbdb0;
  border-radius: 10px;
  margin-top: 3em;
  text-align: center;
}

.trivia-list {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 80%;
}

.num-slider {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.trivia-button {
  background-color: #DCBE87;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  font-weight: 900;
  border: 2px solid #4E1D04;
  border-radius: .2em;
  width: 30%;
  margin-top: 1em;
}

.trivia-button:hover {
  cursor: pointer;
  background-color: #ec8f00;
}

.show-answer {
  color:#DCBE87;
  font-weight: 900;
  font-size: 1.5em;
}

.multiple-choice {
  color:#DCBE87;
  font-size: 1.5em;
}

.calculate-score {
  font-size: 2em;
  font-weight: 900;
  margin: 2em;
  color:#420e07;
}

.score-button {
  background-color: #DCBE87;
  color: #420e07;
  border: 2px solid #4E1D04; 
  width: 30%;
  height: 4%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2em;
  margin-bottom: 2em;
  margin-top: 2em;
}

.score-button:hover {
  cursor: pointer;
  background-color: #ec8f00;
  color: #4E1D04;
}

.score {
  font-size: 2em;
  font-weight: 900;
  color: #420e07;
  margin-bottom: 2em;
}

.num-slider {
  width: 60%;
  height: 8px;
  border-radius: 4px;
  background-color: #ccc;
  outline: none;
}

.num-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #4c9aff;
  cursor: pointer;
}

.num-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #4c9aff;
  cursor: pointer;
}

.num-slider::-ms-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #4c9aff;
  cursor: pointer;
}

.my-pretty-chart-container {
  margin-left: auto;
  margin-right: auto;
}

.chart-wrapper {
  margin-left: auto;
  width: 90%;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 5px solid #420e07;
  background-color: #DCBE87;
  border-radius: 2em;
}

.chart-head {
  color: #420e07;
}

.chart {
  width: 100%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.genre-button {
  background-color: #DCBE87;
  color: #420e07;
  border: 2px solid #4E1D04; 
  width: 50%;
  height: 4%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: 900;
}

.genre-button:hover {
  cursor: pointer;
  background-color: #ec8f00;
  color: #4E1D04;
}

.genre-button-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.pie-icon {
  margin-left: 1em;
  margin-right: 1em;
}

.menu-text{
  font-size: 1em;
}

.menu-name {
  font-size: 1.8em;
  font-weight: 900;
  color:#742419;
  font-family: "Special Elite";
}

.homepage-list {
  list-style-type: none;
}

.all-books-box {
  border: 5px solid #420e07;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  background-color: #517174;
  border-radius: 10px;
  margin-top: 3em;
  text-align: center;
}

.author-tile {
  color:#ec8f00;
}

li.menu-text.menu-name.home {
  margin-left: 0;
}

.sign-in {
  color:#ec8f00;
}

.sign-in:hover {
  color:#ec8f00;
}

.sign-in-button {
  background-color:#742419;
}

.sign-in-button:hover {
  background-color:#4E1D04;
}

.dev-box {
  border: 5px solid #420e07;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  background-color:#DCBE87;
  color:#420e07;
  border-radius: 10px;
  margin-top: 3em;
  text-align: center;
}

.tim-meehan {
  width: 60%;
  border: 15px ridge #420e07;
}

.about-developer-title {
  margin-top: .5em;
  margin-bottom: .5em;
  font-weight: 900;
}

.about-tim {
  margin: 1em 3em;
  font-weight: 800;
}

.about-link {
  background-color: #DCBE87;
  color: #420e07;
  border: 2px solid #420e07;
  font-weight: 900;
  border-radius: .5em;
  font-size: 1.5em;
  font-family: "Special Elite";
  width: 40%;
  height: 1.8em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-link:hover {
  background-color: #ec8f00;
  color: #4E1D04;
  cursor: pointer;
}

.edit-book-status {
  position: absolute;
  display: flex;
  bottom: 0.5em;
  left: 0.5em;
  background-color:#ec8f00;
  width: 3.5em;
  height: 2.5em;
  border-radius: .5em;
  align-items: center;
}

.edit-book-status:hover {
  background-color:#DCBE87;
  cursor: pointer;
}

.status-modal-box {
  width: 25em;
  height: 24em;
  margin: auto;
  margin-top: 20%;
  background-color: #DCBE87;
  border: 5px solid #4E1D04;
  border-radius: 1em;
}

.status-button {
  margin-left: 32%;
  margin-top: 1em;
  font-size: 1.5em;
}

.status-button-text {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin-top: .7em;
}

.status-buttons {
  font-weight: 900;
  font-family: "Special Elite";
  font-size: 1em;
}

.description {
  font-weight: 600;
  margin: 1.5rem 3rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3em;
}

.status-filter {
  width: 20em;
  margin-left: auto;
  margin-right: auto;
}

.dropdown {
  font-size: 1.2em;
  font-weight: 900;
  font-family: "Special Elite";
  color: #420e07;
  margin-top: .5em;
}

.filter-button {
  background-color: #420e07;
  color: #DCBE87;
  border: 2px solid #420e07;
  font-weight: 900;
  border-radius: .5em;
  font-size: 1em;
  font-family: "Special Elite";
  width: 6em;
  height: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.7em;
}

.filter-button:hover {
  background-color: #ec8f00;
  color: #4E1D04;
  cursor: pointer;
}

.filter-section {
  margin-top: 1em;
  background-color: #DCBE87;
  border: 2px solid #420e07;
  border-radius: .5em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.modal-error {
  height: 1em;
  display: flex;
  align-items: center;
}

.error-text {
  font-family:'Courier New', Courier, monospace;
  font-weight: 900;
  font-size: 1.2em; 
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.sign-in-page {
  background-color: #DCBE87;
  color:#420e07;
  font-weight: 900;
}

.sign-in-page:hover {
  background-color: #ec8f00;
  color: #4E1D04;
}

.answer {
  font-weight: 900;
  font-family: "Special Elite";
  font-size: 1.2em;
  margin-left: 1em;
}

.truth-link {
  position: absolute;
  top: 13.2%;
  left: 87.8%;
  transform: translate(-50%, -50%);
  color: black;
  height: 10px;
  width: 10em;
  z-index: 1;
  opacity: 0;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.truth-link:hover {
  cursor: default;
}

.wyoming-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  margin-left: 1em;
  margin-top: 1.5em;
  margin-right: 1.5em;
}

.wyoming-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: 900;
  margin-top: .5em;
  margin-bottom: .5em;
}

.wyoming-image {
  width: 70%;
  margin-top: 1em;
  border: 3px solid black;
}

.map-container {
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
  overflow-anchor: none;
}

.map-element {
  overflow-anchor: none;
}

.map-description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  color: black;
}

.map-title {
  font-size: 2.5em;
  font-weight: 900;
}

.map-input {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.map-submit {
  background-color: #420e07;
  color:#bfbdb0;
  border: 2px solid #420e07;
  font-weight: 900;
  border-radius: .5em;
  font-size: 1em;
  font-family: "Special Elite";
  width: 15em;
  height: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.7em;
}

.map-list {
  margin-top: 1em;
}

.map-list-item {
  text-align: left;
  margin-left: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.map-list {
  margin-left: auto;
  margin-right: auto;
  border-radius: .5em;
  border: 2px solid #420e07;
}

.bookstore-list {
  background-color: #FAC898;
}

.library-list {
  background-color: #ACD1AF;
}

.icon-image {
  width: 1.5em;
  height: 1.5em;
  margin-right: .5em;
}

.libraries {
  background-color: #ACD1AF;
  margin-right: auto;
  margin-left: auto;
  border-radius: .5em;
  border: 2px solid #420e07;
}

.bookstores {
  background-color: #FAC898;
  margin-right: auto;
  margin-left: auto;
  border-radius: .5em;
  border: 2px solid #420e07;
}

.libraries,
.bookstores {
  margin-top: 1em;
  margin-bottom: 1.3em;
}

.map-list-title {
  font-weight: 900;
  margin-top: .3em;
}