@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-image: url("https://as2.ftcdn.net/v2/jpg/03/40/07/85/1000_F_340078556_YD52qpLaiTbO5E0OF90FuOaAq3sZr8yF.jpg");
}